<div class="row">
	<div class="large-6 columns bluebg content row1">
      <h3 class="white padding3v margin0tb"><span class="weight100 font14 opacity09">Welcome to mission control</span><br><%= current_user.businessname %></h3>
	</div>
	<div class="large-6 columns lightbluebg content row1">
	</div>
</div>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<script>
	$('.row1').matchHeight();
</script>