<div class="row ">
	<div class="large-18 columns maincontainer">
		<div class="row maintitle padding2v content2">
			<h1 class="blue09 font17 weight600">Select a login page to edit</h1>
		</div>
		<div class="row main">
			<div class="row padding2v">
				<div class="large-8 columns content2">
					<div class="templatecontainer">
						<div class="templatepreview"></div>
						<div class="row">
							<div class="large-12 columns text-center">
								<p class="preview">Preview</p>
							</div>
							<%= link_to template_editor_path('LoginOne') do %>
								<div class="large-12 columns text-center">
									<p class="edit">Edit</p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="large-8 columns content2">
					<div class="templatecontainer">
						<div class="templatepreview"></div>
						<div class="row">
							<div class="large-12 columns text-center">
								<p class="preview">Preview</p>
							</div>
							<%= link_to template_editor_path('LoginTwo') do %>
								<div class="large-12 columns text-center">
									<p class="edit">Edit</p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="large-8 columns content2">
					<div class="templatecontainer">
						<div class="templatepreview"></div>
						<div class="row">
							<div class="large-12 columns text-center">
								<p class="preview">Preview</p>
							</div>
							<%= link_to template_editor_path('LoginThree') do %>
								<div class="large-12 columns text-center">
									<p class="edit">Edit</p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>




			
		</div>
	</div>
  <div class="large-6 columns rightbar content">
    <div class="navheight"></div>
      <h4 class="sidetitle">Guide</h4>
      <div class="content">
	    </div>
    </div>
	</div>
</div>


<script>
	$('.row1').matchHeight();
</script>