<p>Login for wifi</p>
<%= link_to "Sign in with Facebook", human_omniauth_authorize_path(:facebook, var: @user.id) %>
<br>
<%= link_to "Sign in with Twitter", human_omniauth_authorize_path(:twitter, var: @user.id) %>
<br>
<%= link_to "Sign in with LinkedIn", human_omniauth_authorize_path(:linkedin) %>