
<div class="mainbg">
<div class="maingradient">
  <div class="row nopadding">
    <div class="large-15 columns height100vh content3">
      <div class="maincontainer">
        <h1 class="maintitle">a <span class="weight600">360°</span> degree view of your venues traffic</h1>
        <div class="row nopadding padding1t">
          <div class="large-7 columns mainhowitworks text-center">
            HOW IT WORKS
          </div>
          <div class="large-2 columns">
            <br>
          </div>
          <div class="large-7 columns maingetstarted text-center">
            GET STARTED
          </div>
          <div class="large-8 columns">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="greybg">
  <div class="row padding3v">
    <div class="large-6 columns media1">
    </div>
    <div class="large-6 columns media2">
    </div>
    <div class="large-6 columns media3">
    </div>
    <div class="large-6 columns media4">
    </div>
  </div>
</div>

<div class="whitebg">
  <div class="row padding20v-vh">
    <div class="large-12 columns">
      <h2 class="font2 weight600">Know your visitors</h2>
      <p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits and use demographic analytics to understand exactly who your customers are.</p>
    </div>
  </div>
</div>

<div class="greybg">
  <div class="row padding20v-vh">
    <div class="large-12 columns">
    </div>
    <div class="large-12 columns">
      <h2 class="font2 weight600">Know your visitors</h2>
      <p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits and use demographic analytics to understand exactly who your customers are.</p>
    </div>
  </div>
</div>


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>
</html>

<script>
  $(function() {

      $('.row1').matchHeight();
      $('.navheight').matchHeight()

  });
</script>

