
<div class="mainbg">
<div class="maingradient">
  <div class="row nopadding">
    <div class="large-15 columns height100vh content3">
      <div class="maincontainer">
        <h1 class="maintitle">a <span class="weight600">360°</span> degree view of your venues traffic</h1>
        <div class="row nopadding padding1t">
          <div class="large-7 columns mainhowitworks text-center">
            HOW IT WORKS
          </div>
          <div class="large-2 columns">
            <br>
          </div>
          <div class="large-7 columns maingetstarted text-center">
            GET STARTED
          </div>
          <div class="large-8 columns">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row padding3v mediaborder">
  <div class="large-6 columns media1">
  </div>
  <div class="large-6 columns media2">
  </div>
  <div class="large-6 columns media3">
  </div>
  <div class="large-6 columns media4">
  </div>
</div>

<div class="whitebg home1bg">
  <div class="row padding23v-vh">
    <div class="large-12 columns">
      <h2 class="font2 weight600">Know your visitors</h2>
      <p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits and use demographic analytics to understand exactly who your customers are. It's the social network of your business.</p>
      <p class="learnmoretext">LEARN MORE ABOUT PROFILES<%= image_tag('learnmore-arrow.png', class: "learnmore-arrow") %></p>
    </div>
  </div>
</div>

<div class="greybgborder posrel">
  <div class="emailblock">
    <div class="eb-header">
      <%= image_tag('eb-logo.png', class: "eb-logo") %>
    </div>
    <div class="eb-container">
      <h1 class="eb-h1">
        We miss you Mike
      </h1>
      <h2 class="eb-h2">
        How about a drink on us?
      </h2>
      <p class="eb-p">It's been some time since you last visited our restaurant over in Cranbrook. It'd be great to have you visit again, so come in store and make a waiter aware of the discount code <b>DRINK15</b> and we'll give you a drink of choice on the house!<br><br>Looking forward to seeing you soon,<br><b>The Pig &amp; Apple Team</b></p>
    </div>
  </div>
  <div class="row padding23v-vh">
    <div class="large-12 columns">
    </div>
    <div class="large-12 columns">
      <h2 class="font2 weight600">Automate marketing</h2>
      <p class="maintext margin1t">Use the data profiles your WIFI collects to send out targeted e-shots to thousands of previous customers.</p>
      <p class="maintext">Add schedules to automatically send personal emails based on triggers such as days since last visit and days since first visit, increasing customer loyalty and repeat business.</p>
      <p class="learnmoretext">LEARN MORE ABOUT MARKETING<%= image_tag('learnmore-arrow.png', class: "learnmore-arrow") %></p>
    </div>
  </div>
</div>

<div class="whitebg">
  <div class="row padding23v-vh">
    <div class="large-12 columns">
      <h2 class="font2 weight600">Big data, small business</h2>
      <p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits and use demographic analytics to understand exactly who your customers are. It's the social network of your business.</p>
      <p class="learnmoretext">LEARN MORE ABOUT ANALYTICS<%= image_tag('learnmore-arrow.png', class: "learnmore-arrow") %></p>
    </div>
  </div>
</div>


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="orangegradient">
  <div class="row padding23v-vh">
    <div class="large-12 columns">
      <h3 class="font28 white">300% return on investment, or your money back.</h3>
    </div>
  </div>
</div>



</body>
</html>

<script>
  $(function() {

      $('.row1').matchHeight();
      $('.navheight').matchHeight()

  });
</script>

