

  <div class="row nopadding mainbg">
    <div class="large-3 columns height100vh shopbg row1 content">
      <div class="navheight"></div>
      <ul class="disc orange padding6t white">
        <li>Provide WIFI to your customers</li>
        <li>Collect valuable customer data</li>
        <li>Schedule emails and newsletters</li>
        <li>Analyse visitor trends</li>
        <li>Notify customers of events/offers</li>
        <li>Easily reach thousands with check-ins</li>
        <li>Keep your current internet package</li>
        <li>Plug-and-Play Adapter</li>
      </ul>
      <%= image_tag('render.png', class: "mainrender") %>
    </div>
    <div class="large-9 columns height100vh mainbgoverlay content3 row1">
      <%= image_tag('mainphone.png', class: "mainphone") %>
      <h1 class="white maintext margin3b">Understand your customers like never before</h1>
      <span class="maingetwyfi">GET WYFI</span><%= link_to panels_dashboard_path do %><span class="mainlogin">LOGIN</span><% end %><br><br><br><br><br><br><br><br><br>
    </div>
  </div>


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>
</html>

<script>
  $(function() {

      $('.row1').matchHeight();
      $('.navheight').matchHeight()

  });
</script>

