

  <div class="row nopadding mainbg">
    <div class="large-24 columns height100vh content3 row1">
      <div class="mainblock"></div>
      <h1 class="white maintext margin3b">Understand your customers like never before</h1>
      <span class="maingetwyfi">GET WYFI</span><%= link_to panels_dashboard_path do %><span class="mainlogin">LOGIN</span><% end %>
      <div class="row mainbullets nopadding">
        <div class="large-18 columns">
          <div class="row marginminus07">
            <div class="large-6 columns content07">
              <h4 class="mainbulletstitle">PROFILE</h4>
              <p class="mainbulletstext">Gain valuable insight into the customers who visit your store</p>
            </div>
            <div class="large-6 columns content07">
              <h4 class="mainbulletstitle">MARKET</h4>
              <p class="mainbulletstext">Gain valuable insight into the customers who visit your store</p>
            </div>
            <div class="large-6 columns content07">
              <h4 class="mainbulletstitle">ANALYSE</h4>
              <p class="mainbulletstext">Gain valuable insight into the customers who visit your store</p>
            </div>
            <div class="large-6 columns content07">
              <h4 class="mainbulletstitle">UNDERSTAND</h4>
              <p class="mainbulletstext">Gain valuable insight into the customers who visit your store</p>
            </div>
          </div>
        </div>
        <div class="large-8 columns">
        </div>
      </div>
    </div>
  </div>

  <div class="row padding2v">
    <div class="large-6 columns media1">
    </div>
    <div class="large-6 columns media2">
    </div>
    <div class="large-6 columns media3">
    </div>
    <div class="large-6 columns media4">
    </div>
  </div>

  <div class="row skybg nopadding">
    <div class="row building1bg padding8v">
      <div class="large-14 columns">
        <h2 class="weight100 white font3"><span class="weight600 font35">70%</span> of your visitors have WIFI enabled devices</h2>
        <p class="padding2t offwhite font11">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>
</html>

<script>
  $(function() {

      $('.row1').matchHeight();
      $('.navheight').matchHeight()

  });
</script>

