<div class="howitworksbg">
	<div class="maingradient">
		<div class="row padding35t30b-vh">
			<div class="large-24 columns text-center">
				<h1 class="margin0b margin0t white font35">70% of your customers have WIFI</h1>
				<h3 class="margin0b margin0t offwhite">It's time to get to know them</h3>
			</div>
		</div>
	</div>
</div>

<div class="row text-center">
	<div class="line-container">
		<div class="line-fill"></div>
		<div class="line-circle1"></div>
		<div class="line-circle2"></div>
		<div class="line-circle3"></div>
		<div class="line-circle4"></div>
		<div class="line-circle5"></div>
	</div>
</div>

<div class="row padding5v-vh">
	<div class="large-8 columns content text-center process-one">
		<h3 class="font13">Your customer connects</h3>
		<p>Upon opening their device, your customer is redirected to your branded login page.</p>
	</div>
	<div class="large-8 columns content text-center process-two">
		<h3 class="font13">They login</h3>
		<p>Upon opening their device, your customer is redirected to your branded login page.</p>
	</div>
	<div class="large-8 columns content text-center process-three">
		<h3 class="font13">They are online</h3>
		<p>Upon opening their device, your customer is redirected to your branded login page.</p>
	</div>
</div>


<div class="greybg greybgborder">
	<div class="profilepreviewbg">
		<div class="row padding20t5b-vh content">
			<div class="row padding2b">
				<div class="large-4 columns">
					<br>
				</div>
				<div class="large-16 columns text-center">
					<h2 class="font2 weight600">The social network of your business</h2>
					<p class="maintext margin1t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits, keep track of certain customers and collect valuable data. It's the social network of your business.</p>
				</div>
				<div class="large-4 columns">
					<br>
				</div>
			</div>
			<div class="row padding2v">
				<div class="large-8 columns">
					<div class="margin3b">
						<p class="weight600 margin05b">Track</p>
						<p class="pointstext margin0t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits.</p>
					</div>
					<div class="margin3b">
						<p class="weight600 margin05b">Track</p>
						<p class="pointstext margin0t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits.</p>
					</div>
					<div class="margin3b">
						<p class="weight600 margin05b">Track</p>
						<p class="pointstext margin0t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits.</p>
					</div>
					<div class="">
						<p class="weight600 margin05b">Track</p>
						<p class="pointstext margin0t">Automatically generate insightful profiles on every visitor who connects to your WIFI. View trends in visits.</p>
					</div>
				</div>
				<div class="large-16 columns">
				</div>
			</div>
		</div>
	</div>
</div>


<br><br><br><br><br><br><br><br>



<div class="missioncontrolbg">
</div>










<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>