<div class="navheight">
</div>

<div class="row padding3v">
	<div class="large-24 columns text-center">
		<h1>The average return on BeamWIFI is 663%</h1>
		<h2>WIFI that pays for itself</h2>
	</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>