<!DOCTYPE html>
<html>
<head>
  <title>Free WIFI Access</title>
  <%= stylesheet_link_tag 'template', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>